@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #155e75;
    color: #fefefe;
}

@media (prefers-color-scheme: light) {
    ::selection {
        background-color: #0891b2;
        color: #ffffff;
    }
}

html {
    min-width: 360px;
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
