@tailwind base;
@tailwind components;
@tailwind utilities;
::selection {
    background-color: #155e75;
    color: #fefefe;
}

html {
    min-width: 360px;
    scroll-behavior: smooth;
}

#__next {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 300;
}